{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('style_espace_utilisateur') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<main>
    <section class="information">
        <h1>Mentions Légales</h1>
        <h2>1. Éditeur du site</h2>
        <p>
            Nom du site : Livrosphère<br>
            Responsable de publication : Haldan Koffi<br>
            Email : e.haldankoffi@gmail.com <br>
            Téléphone : [Ton numéro de téléphone]
        </p>
        
        <h2>2. Hébergement</h2>
        <p>
            Hébergeur : Microsoft Azure <br>
            Adresse : 37 Quai du Président Roosevelt, 92130 Issy-les-Moulineaux<br>
            Téléphone : [Numéro de l'hébergeur]<br>
            Site web : [URL de l'hébergeur]
        </p>
        
        <h2>3. Propriété intellectuelle</h2>
        <p>
            Le contenu du site Livrosphère, incluant textes, images, logos et autres éléments, est protégé par les lois en vigueur sur la propriété intellectuelle.<br>
            Toute reproduction, représentation, modification ou exploitation non autorisée est interdite sans l’accord préalable du propriétaire du site.
        </p>
        
        <h2>4. Collecte des données</h2>
        <p>
            Conformément au RGPD, les données personnelles collectées sur ce site sont utilisées uniquement dans le cadre des services proposés. L’utilisateur dispose d’un droit d’accès, de modification et de suppression de ses données en contactant l’éditeur du site.
        </p>
        
        <h2>5. Cookies</h2>
        <p>
            Ce site utilise des cookies pour améliorer l’expérience utilisateur. Vous pouvez paramétrer votre navigateur pour refuser les cookies.
        </p>
        
        <h2>6. Responsabilité</h2>
        <p>
            L’éditeur du site ne saurait être tenu responsable des dommages directs ou indirects résultant de l’utilisation du site.
        </p>
        
        <h2>7. Contact</h2>
        <p>
            Pour toute question ou réclamation, vous pouvez contacter l’éditeur du site via l’adresse email mentionnée ci-dessus.
        </p>
    </section>
</main>

<footer class="footer-container">
    <nav class="boutons-footer">
        <a href="{{ path('app_accueil') }}">Accueil</a>
        <a href="{{ path('app_categorie') }}">Catégories</a>
        <a href="{{ path('app_livre') }}">Nos livres</a>
        <a href="{{ path('mon_espace') }}">Mon espace</a>
        <a href="{{ path('app_a_propos') }}">À propos</a>
        <a href="{{ path('utilisateur_new') }}">S'inscrire</a>
        <a href="{{ path('app_connexion') }}">Se connecter</a>
    </nav>

    <section class="logo-reseaux">
        <a href="#" class="icon-reseaux"><i class="fa-brands fa-instagram"></i></a>
    </section>

    <nav class="pages-legales">
        <a href="{{ path('app_mentions_legales') }}">Mentions légales</a>
        <a href="{{ path('app_cgu') }}">Conditions générales d'utilisation</a>
    </nav>

    <section class="copyright">
        <p>© Livrosphère 2025</p>
    </section>
</footer>
{% endblock %}
