{% block stylesheets %}
{{ encore_entry_link_tags('styleConnexion') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <header class="header-container">
    </header>
    <main class="">
      <section class="container-form">
        <form class="bloc-inscription" method="post" action="{{ path('app_connexion') }}">
          <section class="logo-titre">
            <a href="{{path('app_accueil')}}"
              ><img
                src="{{ asset('images/logo-livrosphere.png') }}"
                height="50px"
                width="50px"
            /></a>
            <h1>CONNEXION</h1>
          </section>

          <section>
            <label for="username" class="form-label">Email</label>
            <input type="email" class="form-control" id="username" name="_username" placeholder="Adresse email ..." required />
          </section>
          
          <section>
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe ..." required/>
          </section>
          <section class="btnU">
            <button type="submit" class="btn btn-dark">Me connecter</button>
            <div class="gestion-password">
              <a class="text-white" href="{{ path('app_forgot_password_request') }}"
                >Réinitialiser mon mot de passe</a
              >
            </div>
          </section>
        </form>
      </section>
    </main>

    <footer class="footer-container">
    </footer>

{% endblock %}
