{% block stylesheets %}
{{ encore_entry_link_tags('style_acc') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page d'accueil</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header-container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <section class="container-fluid">
          <a href="/Accueil.html">
            <img
              title="logo_livrosphère"
              src="{{ asset('images/logo-livrosphere.png') }}"
              height="80"
              alt="Logo_livrosphère"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <section class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/Accueil.html">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_categorie') }}">Catégories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_livre') }}">Nos livres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('mon_espace') }}">Mon espace</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">À propos</a>
              </li>
            </ul>
          </section>
          <section class="bouton-inscriptionc">
          <a href="{{ path('utilisateur_new') }}" class="btn btn-dark" role="button"
            >S'inscrire</a
          >
          <a href="{{ path('app_connexion') }}" class="btn btn-secondary" role="button"
            >Se connecter</a
          >
        </section>
        </section>
      </nav>
    </header>

    <main>
      <section class="titre-livrosphere">
        <h2>LIVROSPHÈRE</h2>
      </section>

      <section class="message-homepage1">
        <h3>BIBLIOTHÈQUE COLLABORATIVE</h3>
        <h4 class="message-homepage2 text-gray">
          Découvrez, partagez et discutez des livres que vous avez lus
        </h4>
      </section>

      <section class="bloc-carousel bg-gray100">
        <section
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
          data-bs-interval="4000"
        >
          <section class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </section>
          <section class="carousel-inner">
            <section class="carousel-item active">
              <img
                src="{{asset('images/captive_tome2.jpg')}}"
                class="d-block w-100"
                alt="Captive Tome 2"
                height="400"
              />
            </section>
            <section class="carousel-item active">
              <img
                src="{{asset('images/bonnes_habitudes.jpg')}}"
                class="d-block w-100"
                alt="Captive Tome 2"
                height="400"
              />
            </section>
            <section class="carousel-item">
              <img
                src="{{asset('images/best-seller.jpg')}}"
                class="d-block w-100"
                alt="Best Seller"
                height="400"
              />
            </section>
          </section>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </section>
      </section>
      <section class="cover-livre">
        <article class="card h-100" style="width: 18rem">
          <img
            src="{{asset('images/captive_tome2.jpg')}}"
            class="card-img-top"
            alt="Captive tome 2"
            height="400"
          />
          <section class="card-body">
            <p class="card-text">
              Le tome 2 de "Captive" continue de suivre les aventures de Tessa
              après les événements ...
            </p>
            <a href="#" class="btn btn-dark">DÉCOUVRIR ></a>
          </section>
        </article>
        <article class="card h-100" style="width: 18rem">
          <img
            src="{{asset('images/bonnes_habitudes.jpg')}}"
            class="card-img-top"
            alt="Bonnes habitudes"
            height="400"
          />
          <section class="card-body">
            <p class="card-text">
              Ce livre explore les mécanismes scientifiques derrière la
              formation et le changement des habitudes.
            </p>
            <a href="/livres.html" class="btn btn-dark">DÉCOUVRIR ></a>
          </section>
        </article>

        <article class="card h-100" style="width: 18rem">
          <img
            src="{{asset('images/best-seller.jpg')}}"
            class="card-img-top"
            alt="Best seller"
            height="400"
          />
          <section class="card-body">
            <p class="card-text">
              Ce roman explore les coulisses de la création d'un livre à succès
              et les défis que rencontrent ...
            </p>
            <a href="#" class="btn btn-dark">DÉCOUVRIR ></a>
          </section>
        </article>
      </section>

      <section class="message2-homepage">
        <h3>UNE COMMUNAUTÉ PEU COMMUNE</h3>
        <h4 class="text-gray">Rejoignez une communauté de lecteur engagé</h4>
      </section>

      <section class="bloc-carousel bg-gray100">
        <figure class="ajout-livre">
          <img
            src="{{asset('images/interaction_plateforme_maj.png')}}"
            alt="Interaction Utilisateurs"
            height="400"
            class="interaction-users"
          />
        </figure>
      </section>
    </main>

    <footer class="footer-container">
      <nav class="boutons-footer">
        <a href="/Accueil.html">Accueil</a>
        <a href="/categories.html">Catégories</a>
        <a href="">À propos</a>
        <a href="/inscription.html">S'inscrire</a>
        <a href="/connexion.html">Se connecter</a>
      </nav>

      <section class="logo-reseaux">
        <a href="#" class="icon-reseaux"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="#" class="icon-reseaux"
          ><i class="fa-brands fa-snapchat"></i
        ></a>
        <a href="#" class="icon-reseaux"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="#" class="icon-reseaux"
          ><i class="fa-brands fa-x-twitter"></i
        ></a>
      </section>

      <nav class="pages-legales">
        <a href="">Mentions légales</a>
        <a href="">Conditions générales d'utilisation</a>
      </nav>

      <section class="copyright">
        <p>© Livrosphère 2024</p>
      </section>
    </footer>
  </body>
</html>
{% endblock %}
