{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}
    <h1>Ajouter un commentaire pour le livre "{{ livre.titre }}"</h1>

    {{ form_start(form) }}
        {{ form_row(form.message) }} <!-- Champ du message du commentaire -->
        <button class="btn btn-primary" type="submit">Ajouter le commentaire</button>
    {{ form_end(form) }}

    <h2>Commentaires existants</h2>
    <div>
        {% if commentaires is not empty %}
            {% for commentaire in commentaires %}
                <div>
                    <p><strong>{{ commentaire.utilisateur.username }}</strong> ({{ commentaire.dateCommentaire|date('d/m/Y H:i') }})</p>
                    <p>{{ commentaire.message }}</p>
                    {% if commentaire.modificationCommentaire %}
                        <p><em>(Modifié)</em></p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun commentaire pour ce livre.</p>
        {% endif %}
    </div>

    <a href="{{ path('livre_info', {'id': livre.id}) }}">Retour aux détails du livre</a>
{% endblock %}
