{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('style_accueil') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block title %}Modification de catégorie{% endblock %}

{% block body %}

    <main>
    <h1>Modifier la Catégorie</h1>

    <form method="post" action="{{ path('modification_categorie', {id: categorie.id}) }}" enctype="multipart/form-data">
    <div>
        <label for="nom">Nom de la catégorie :</label>
        <input type="text" id="nom" name="nom" value="{{ categorie.nom }}" required>
    </div>

    <div>
        <label for="couvertureCategorie">Couverture actuelle :</label>
        <img src="{{ asset('uploads/' ~ categorie.couvertureCategorie) }}" alt="Couverture de la catégorie" style="max-width: 100px; max-height: 100px;">
    </div>

    <div>
        <label for="couvertureCategorie">Nouvelle couverture :</label>
        <input type="file" id="couvertureCategorie" name="couvertureCategorie" accept="image/*">
    </div>

    <!-- Ajout du champ CSRF -->
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

    <button type="submit">Modifier</button>
  </form>

    </main>
    <footer class="footer-container">
      <nav class="boutons-footer">
        <a href="{{ path('app_accueil')}}">Accueil</a>
        <a href="{{ path('app_categorie')}}">Catégories</a>
        <a href="{{ path('app_livre')}}">Nos livres</a>
        <a href="{{ path('mon_espace')}}">Mon espace</a>
        <a href="{{ path('app_a_propos')}}">À propos</a>
        <a href="{{ path('utilisateur_new')}}">S'inscrire</a>
        <a href="{{ path('app_connexion')}}">Se connecter</a>
      </nav>


      <nav class="pages-legales">
        <a href="{{ path('app_mentions_legales') }}">Mentions légales</a>
        <a href="{{ path('app_cgu') }}">Conditions générales d'utilisation</a>
      </nav>

      <section class="copyright">
        <p>© Livrosphère 2025</p>
      </section>
    </footer>
</html>
    
{% endblock %}
